<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div id="section">
  <table class="table table-striped">
    <tr>
      <th>id</th>
      <td th:text="${member.id}"></td>
    </tr>
    <tr>
      <th>email</th>
      <td th:text="${member.memberEmail}"></td>
    </tr>
    <tr>
      <th>name</th>
      <td th:text="${member.memberName}"></td>
    </tr>
    <tr>
      <th>Birth</th>
      <td th:text="${member.memberBirth}"></td>
    </tr>
    <tr>
      <th>mobile</th>
      <td th:text="${member.memberMobile}"></td>
    </tr>
  </table>
</div>
</body>
</html>