<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
    <form action="/member/login" method="post">
        <input type="hidden" name="redirectURI" th:value="${redirectURI}">
        <input type="text" name="memberEmail" placeholder="이메일"> <br>
        <input type="text" name="memberPassword" placeholder="비밀번호"> <br>
        <p id="login-result" style="color: red; display: none" >
            이메일 또는 비밀번호가 틀립니다!
        </p>
<!--        <input type="submit" value="로그인" onclick="login()">-->
        <input type="submit" value="로그인">
    </form>
</div>
<div th:replace="component/footer :: footer"></div>

</body>
<script>
    const login = () => {
        // querySelector를 이용해서 name이 적용된 값을 가져올때 밑에처럼 씀(주의@@ 안에가 ""(더블쿼터) 밖에가 ''(싱글쿼터)로 묶여있다
        const email = document.querySelector('input[name="memberEmail"]').value;
        const password = document.querySelector('input[name="memberPassword"]').value;
        axios({
            //주소 보내는 방식
            method: "post",
            //  요청주소
            url: "/member/login/axios",
            //보내는 데이터
            data: {
                //보내는 이름은 DTO필드랑 일치시켜야됨
                memberEmail: email,
                memberPassword: password
            }
            //성공했을때 then
        }).then(res => {

            console.log("res", res);
            location.href="/member/mypage";
            // 실패했을때 catch
        }).catch(err => {
            console.log("err", err);
            //틀리면 화면에 출력되게 만듬
            document.getElementById("login-result").style.display="block";
        });

    }
</script>
</html>