<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav" id="nav">
    <ul>
        <li>
            <a href="/">
                <i class="bi bi-house"></i>
            </a>
        </li>
        <li>
            <a href="/member/save">회원가입</a>
        </li>
        <li>
            <a href="/member/login">로그인</a>
        </li>
        <li>
            <a href="/member/">회원목록</a>
        </li>
        <li class="login-name" id="login-area">
        </li>
    </ul>
<!-- nav를 사용할때 fragment안에있는 부분만 가져가서 사용하니까 스크립트도 위쪽에 써준다   -->
    <script th:inline="javascript">
        const loginArea = document.getElementById("login-area");
        const loginEmail = [[${session.loginEmail}]];
        console.log(loginEmail.length);

        if (loginEmail.length != 0) {
            loginArea.innerHTML = "<a href='/member/mypage' style='color: black;'>" + loginEmail + "님 환영해요!</a>" +
                "<a href='/member/logout'>logout</a>";
        } else {
            loginArea.innerHTML = "<a href='/login'>login</a>";
        }
    </script>
</div>
</body>
</html>